*{box-sizing:content-box}
body{	word-wrap: break-word;
font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
color: #333;background-color: #fff;}
.normal-btn{width:90px;height: 35px;display:inline-block;border-radius: 3px;background:#61ac46; text-align:center;font-size:16px;letter-spacing:2px; }
.normal-btn a,.blue-normal-btn a { width:90px; line-height:35px;}
#head_div{width: 100%;height: 30px;display: inline-block;background: #f5f5f5;}
#regis_div{float: right;margin-right: 15px;}
#head_div span{margin-left: 40px;}
a{ text-decoration: none;color:white; }
#regis_div a{ font-size: 15px; color: #333333;}


/*-------------------logo div-----------------*/
#logo_div{width: 100%;height: 120px;display: inline-block;margin:10px 0 0 100px;}
#logo-title{width: 500px;display: inline-block;}
#logo-title img{ float:left;width:128px;height:72px;margin-right:20px; }
#logo-title h1{width:372px;color: #3590e3;margin-top: 20px;;}
#search-bar{width: 510px;height:35px;display: inline-block;border:3px solid #3591e3;border-radius: 3px;background:#3591e3;}
#search-bar input{height: 33px;width: 395px;border:none;vertical-align: top;font-size: 18px;}
.blue-normal-btn{width:90px;height: 35px;display:inline-block;background:#3591e3;margin-left: -4px;text-align:center;font-size:16px;}
.icon-search{font-size:20px;height:35px;float:left;display: inline-block;background:white;color: #c0c0c0;}


/*----------------------navigation bar-------------------------*/
.tabnav {margin-top: 0;margin-bottom: 15px;border-bottom: 1px solid #ddd;min-width: 1200px;width: 100%;}
#nav-bar{border-bottom:-1px;margin-left: 60px;}
#nav-bar a{ text-align:center;font-size:20px; margin:0 20px; color:#000;}
.navb a:hover{ color:rgb(10,100,150);}

.tabnav-tab {display: inline-block;padding: 8px 12px;font-size: 14px;line-height: 20px;
    color: #000;text-decoration: none;border: 1px solid transparent;border-bottom: 0px;}


/*--------------------------content-----------------------------------*/
#content-div{width:100%;height: auto;display: inline-block;margin:0;}
.area{ border:1px #e4e4e4 solid; }
#area{height: 350px;}

#reservation-div{width: 903px;height:375px;display:inline-block;margin:0 30px 40px 60px;}
#reservation-div h3{ line-height: 25px;}
/*#show-city-div div{display: inline;}*/
#show-city-div img,.more{vertical-align: top;height: 20px;}
#fast-reserve-div{ float: left;border-width:0 1px 0 0;border-color:#e4e4e4;border-style: solid;width:250px;height: 350px;display: inline-block;}
#show-city-div,#input-text,#reserve{margin:20px 25px;}
#show-city-div,#input-text{width: 200px;}
.title label{font-size: 16px;}

.fast-order .title .switch { position: relative;  display: inline-block;  margin-left: 27px;  color: #888;  }
.fast-order .title .switch .arrow-down {  position: absolute;  top: 7px;  right: -15px;  width: 0;  height: 0;
	border: 4px solid transparent;  border-top-color: #bcbcbc;  }

.addr-wrap { font-size: 12px;  position: absolute;  width: 395px;
	background-color: #fff; top:333px;  left: 156px;
	padding: 15px 0 12px 20px;  border: 1px solid #bdd0e8;  }
.addr-wrap .stick {  position: absolute;  left: -1px;  top: -40px;  width: 80px;  height: 39px;
	border: 1px solid #bdd0e8;  border-bottom: none;  background-color: #fff;  }
.addr-wrap .stick .switch {  position: relative;  display: inline-block;  margin-top: 5px;  margin-left: 20px;  }
.gp-index a {  text-decoration: none;  }
.stick a,ul li a {  color: #377bee;  text-decoration: none;  }
.addr-wrap .stick .switch .arrow-down {  position: absolute;  top: 3px;  right: -15px;  width: 0;  height: 0;
	border: 4px solid transparent;  border-bottom-color: #377bee;  }
.addr-wrap .close {  position: absolute;  right: 4px;  top: 10px;  background: url(../../img/v2/search-addr.png) 0 -48px no-repeat;
	width: 18px;  height: 18px;  }
.addr-wrap .hot-city {  height: 26px;  border-bottom: 1px solid #f5f5f5;  margin-right: 20px;  }
.addr-wrap .hot-city label {  width: 40px;  float: left;  padding: 2px 0;  color: #f9a821;  }
ol, ul {  list-style: none;  }
.addr-wrap .hot-city ul li {  float: left;  width: 50px;  }
.addr-wrap .hot-city ul li a {  text-decoration: none;  color: #000;  display: block;  padding: 2px 3px;  margin-right: 6px;  }
.addr-wrap .area-content .city {  display: none;  }
.addr-wrap .area-content .content-title {  margin: 8px 0 4px;  }
.addr-wrap .area-content ul {  line-height: 20px;  }
ol, ul {  list-style: none;  }
.addr-wrap .area-content ul li {  float: left;  width: 64px;  margin-bottom: 3px;  }
.addr-wrap .area-content ul li a {  text-decoration: none; color: #000; display: block;  padding-left: 3px;
	margin-right: 6px;  width: 55px;  height: 20px;  overflow: hidden;  white-space: nowrap;
	-o-text-overflow: ellipsis;  -ms-text-overflow: ellipsis;  text-overflow: ellipsis;  }



#reserve{ float:right;}
form input{ width:200px;height:30px; margin-top:20px; }
#recommend-div{float: left;width: 650px;height: 350px;display: inline-block;}
#l-nav-div{min-width:650px;width: 650px;}
#i-nav{margin:20px 0 0 50px;}

#hospital-info{width:650px;display: inline-block;}
#hospital-info ul{display:block; width:650px; list-style: none;}
#hospital-info ul li{width:320px;display: inline-block}
.hos-info-img{width:120px;height:100px;float:left;}
.hos-info-div{width:190px;height:100px;display: inline-block;margin-left:10px;}
.hos-info-div a{color:#3783ef;font-size:16px;}
.hos-info-div a,.hos-info-div span{width:190px;display:block;}
.hos-info-div :only-child{ margin:5px 0; }
.hos-list a{color: black; line-height: 30px;font-size:15px;}

@font-face {
	font-family: 'icomoon';
	src:url('font/icomoon.eot?lfytc2');
	src:url('font/icomoon.eot?lfytc2#iefix') format('embedded-opentype'),
		url('font/icomoon.ttf?lfytc2') format('truetype'),
		url('font/icomoon.woff?lfytc2') format('woff'),
		url('font/icomoon.svg?lfytc2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-cog:before {content: "\e023";}
.icon-search:before {content: "\e036";margin-top:5px;}
.icon-speech-bubble:before {content: "\e076";}
.icon-grid:before {content: "\e102";}
.icon-inbox:before {content: "\e122";}
.icon-outbox:before {content: "\e123";}
.icon-location2:before {content: "\e900";}
.icon-box-remove:before {content: "\e901";}
.icon-plus:before {content: "\e902";}
.icon-minus:before {content: "\e903";}



/*--------------------------sidebar:notice---------------------------------*/
#new-notice-div{ float:right;display:inline-block;width:250px;height:425px;margin-right:35px;margin-top:0; }
#notice-head{width: inherit;height: 30px;text-align: center;background:#f5f5f5 ;margin-top:5px;}
#notice-head label  { text-align: center;color: #b5aa51;font-size: 18px;}
#notice-head img{vertical-align: top;margin-right: 5px;}
#notice-content ul{margin-left:-40px;list-style: none;}
#notice-content ul li{line-height: 30px;text-align: left;border:1px solid #cdcdcd;border-width: 0 0 1px 0;}
#notice-content ul li a{color: black;margin-left:8px;font-size: 16px;}


/*---------------------------------------footer----------------------------------------*/
footer{ width:100%;min-height:70px;height: auto;display: inline-block; background:#f5f5f5 }
footer div{width:1200px;margin:40px 0 10px 300px;}
footer a{color:black;}
