*{box-sizing:content-box}
body{	word-wrap: break-word;    
font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
color: #333;background-color: #fff;}
#head_div{width: 100%;height: 30px;display: inline-block;background: yellow;}
#regis_div{float: right;margin-right: 15px;}
#head_div span{margin-left: 40px;}
a{ text-decoration: none;color:white;; }
#regis_div a{ font-size: 15px; }
.normal-btn{width: 40px;height: 35px;border-radius: 3px;background:rgb(10,50,180);}
.normal-btn a{ line-height:35px; text-align:center; }

/*-------------------logo div-----------------*/
#logo_div{width: 100%;height: 120px;display: inline-block;
//background:green;}
#logo_div img{ float:left; }


/*----------------------navigation bar-------------------------*/
.tabnav {margin-top: 0;margin-bottom: 15px;border-bottom: 1px solid #ddd;width: 1200px;}
#nav-bar{border-bottom:-1px;margin-left: 60px;}
#nav-bar a{ text-align:center;font-size:20px; margin:0 20px; }
.navb a:hover,.tabnav-tab.selected
 {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    border-radius: 3px 3px 0 0;
}

.tabnav-tab {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-decoration: none;
    border: 1px solid transparent;
    border-bottom: 0;
}

/*--------------------------content-----------------------------------*/
#content-div
{
	width:100%;
	height: auto;
	display: inline-block;
	margin:0;
	//background:silver;
}
.area{ border:1px black solid; }
#area{height: 400px;}

#reservation-div{width: 903px;height:425px;display:inline-block;margin:0 30px 40px 60px;}
#reservation-div h3{ line-height: 25px;}
#show-city-div div{display: inline;}
#fast-reserve-div{ //background:rgb(10,100,10);
float: left;border-width:0 1px 0 0;border-color:black;border-style: solid;width:250px;height: 400px;display: inline-block;}
#fast-reserve-div div{width: 200px;margin:20px 25px;}
form input{ width:200px;height:30px; margin-top:20px; }
#recommend-div
{//background:rgb(20,200,20);
	float: left;
	width: 650px;
	height: 400px;
	display: inline-block;
}

/*--------------------------sidebar:notice---------------------------------*/
#new-notice-div{ float:right;display:inline-block;width:250px;height:425px;margin-right:35px; }
#new-notice-div h3 { text-align: center;}

footer{ width:100%;height: auto;display: inline-block; background:red }
