*{box-sizing:content-box}
body{	word-wrap: break-word;overflow-x: hidden;  
font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
color: #333;background-color: #fff;}
.normal-btn{width:90px;height: 35px;display:inline-block;border-radius: 3px;
	background:#61ac46; text-align:center;font-size:1.6em;letter-spacing:2px;box-shadow:0 2px 6px #666; }
.normal-btn a,.blue-normal-btn a { width:90px; line-height:35px;}
#head_div{width: 100%;height: 30px;display: inline-block;background: #f5f5f5;}
#regis_div{float: right;margin-right: 15px;}
#head_div span{margin-left: 40px;}

#regis_div a{ font-size: 1.5em; color: #333333;}


/*-------------------logo div-----------------*/
#logo_div{width: 100%;height: 120px;display: inline-block;margin:10px 0 0 100px;}
#logo-title{width: 500px;display: inline-block;}
#logo-title img{ float:left;width:128px;height:72px;margin-right:20px; }
#logo-title h1{width:372px;color: #3590e3;margin-top: 20px;;}
#search-bar{width: 510px;height:35px;display: inline-block;border:3px solid #3591e3;border-radius: 3px;background:#3591e3;}
#search-bar input{height: 33px;width: 395px;border:none;vertical-align: top;font-size: 18px;}
.blue-normal-btn{width:90px;height: 35px;display:inline-block;background:#3591e3;margin-left: -4px;text-align:center;font-size:1.6em;}
.icon-search{font-size:2em;height:35px;float:left;display: inline-block;background:white;color: #c0c0c0;}

    
/*----------------------navigation bar-------------------------*/
.tabnav {margin-top: 0;margin-bottom: 5px;border-bottom: 1px solid #ddd;min-width: 1200px;width: 100%;}
#nav-bar{border-bottom:-1px;margin-left: 60px;}
#nav-bar{border-bottom:-1px;margin-left: 60px;}
#nav-bar a{ text-align:center;font-size:20px; margin:0 20px; }
.navb a:hover,#nav-bar a:hover{ color:#0096da;}
.tabnav-tab {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-decoration: none;
    border: 1px solid transparent;
    border-bottom: 0;
}
a{text-decoration:none;color:#333333;}
li{
	display:inline;
	margin-left:4px;
	margin-right:4px;
	height:24px;
}
h2{
	color:#9ACD83;
	font-size:20px;
}
#head_div{width: 100%;height: 30px;display: inline-block;background: #f5f5f5;}
#regis_div{float: right;margin-right: 15px;}
#head_div span{margin-left: 40px;}
#regis_div a{ font-size: 15px; color: #333333;}


#g-breadcrumb a:hover{color:rgb(10,100,150);}
#g-breadcrumb a{color: #333333;}
.nav
{
	margin-top:50px;
	border:1px solid;
	height:36px;
	font-size:20px;
	background-color: #CAFF70;
}
.nav-l
{
	margin-left:100px;
}
#mainmain{
	margin-left:60px;
	border-left:1px solid #CDCDB4;
}
.main-container
{
	margin-left:40px;
	width:80%;
	border-right:1px solid #CDCDB4;
}
.search-wrap
{
}

.white_content 
{ 
  	display: none; 
	position: absolute; 
	width: 30%; 
	height: 30%; 
	padding: 20px; 
	border: 1px solid gray; 
  	background-color: white; 
  	z-index:1002; 
  	overflow: auto; 
}
.addr-name
{
	margin-left:1px;
} 
.condition-wrap{}
.condition
{
	border-bottom:1px solid #CDCDB4;
	
}
.condition-title
{
	float:left;
}
.condition-content
{
	display:inline;
}
.hostype{}
.condition-options{}
.J_Submit_A
{
	margin-left:41px;
}
.gfm-inline
{
	margin-left:20px;
	margin-top:10px;
	height:30px;
	border-bottom:1px solid #EEEEE0;
}
.hospital-items
{
	width:80%;
	height:auto !important;
	height:200px; 
	height:auto;
	min-height:200px;
	margin-top:1px;
	
}
.pagination
{
	width:80%;
	display:inline;
	text-align:center;	
}
.ks-left
{
	width:27%;
	float:left;
	background-color:#EEEEE0;
}
.ks-type
{
	margin-left:40px;
}
.ks-middle
{
	width:60%;
	margin-left:300px;
	background-color:#EEEEE0;
}
.g_jb_right_conect
{
	margin-top:20px;
}
.hide_zoom{margin-bottom:20px;}
.jb-font-18
{
	font-size:20px;
}
.content
{
	margin-top:5px;
	margin-left:20px;
	width:100%;
	border-top:1px solid #DBDBDB;
}
.contentLeft
{
	
	margin-left:80px;
	width:20%;
	border-right:1px solid #DBDBDB;
}
.contentRight
{
	margin-right:20px;
	width:70%;
	text-align:center;
}
.note
{
	color:greenyellow;
}
.g_jb_right_ul li a{text-align: center;margin-left:30px;margin-top:20px;}
.g_jb_right_ul li{margin-bottom:20px;}
.gbt-blue{
	margin-top:20px;
	display:inline-block;
	width:60px;
	height:30px;
	border:1px solid #CCC;
	background:#FFF;
	text-align:center;
	font-size:20px;
	font-family:"楷体";
	background-color:#7EC0EE;
}
/*------------------医院信息---------------------------*/
.hos-ks-content{
	margin-left:100px;
	margin-right:100px;
	background-color:#F0FFF0;
	font-size:22px;
}



/*---------------------------------------footer----------------------------------------*/
footer{ width:100%;min-height:70px;height: auto;display: inline-block; background:#f5f5f5 }
footer div{width:1200px;margin:40px 0 10px 300px;font-size:72%; }
footer a{color:black;}
