.start
{
    font-size:10px;
}

.change-div{
	width: 100%;
	height: 10px;
	background-color:#00CCCC;
	margin-top:3px;
}

.set
{
    width:50px;
    height:50px;
    margin-top:10px;
    margin-left:10px;
}

.passwordfont
{
    font-size:25px;
    font-family:KaiTi_GB2312;
}

.mainpart
{
    margin-left:350px;
    margin-top:30px;
    font-family:KaiTi_GB2312;
    font-size:15px;
}

.again
{
    margin-left:-48px;

}

.passwordfont
{
    margin-top:30px;    
}

.form-line
{
    margin-top:20px;
}

.button
{
    margin-top:30px;
    margin-left:90px;
    width:200px;
    height:25px;
    background-color:#00CCCC;
    font-size:16px;
    font-family:KaiTi_GB2312;
}

#input0,#input1,#input2
{
    width:250px;
    height:25px;
    margin-top:25px;
}

/*-----------------------------------------------------------*/
