

.passwordfont
{
    font-size:25px;
    font-family:KaiTi_GB2312;
}

.mainpart
{
    margin-left:10px;
    margin-top:20px;
    font-family:KaiTi_GB2312;
    font-size:17px;
}

/*-------------------------------------------------*/
