

.passwordfont
{
    font-size:25px;
    font-family:KaiTi_GB2312;
}

.mainpart
{
    margin-left:10px;
    margin-top:20px;
    font-family:KaiTi_GB2312;
    font-size:17px;
}

.button,.button2
{
    width:100px;
    height:25px;
    background-color:#00CCCC;
    font-size:16px;
    font-family:KaiTi_GB2312;
}

.button3
{
    margin-top:30px;
    margin-left:90px;
    width:200px;
    height:25px;
    background-color:#00CCCC;
    font-size:16px;
    font-family:KaiTi_GB2312;
}
/*-------------------------------------------------*/
