body
{
    font:1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 13px;
	line-height: 1.7;
	margin: 0;
	text-align: left;
	color: #333;
	background-color: #fff;
}

/*---------------------user-nav-----------------------*/
.user-nav{
	width: 100%;
	height: 30px;
	background-color: #f5f5f5;
	color: #f5f5f5;
}

.nav-right{
    float:right;
    margin-right:30px;
    line-height:5px;
}

.nav-left{
    float:left;
    margin-left:30px;
    line-height:25px;
    color:Black;
}

.nav-right-font{
    color:Black;
}
    
/*-------------------logo div-----------------*/
#logo_div
{
 width: 100%;
 height: 120px;
 display: inline-block;
 margin:10px 0 0 100px;
 }

#logo-title
{
    margin-top:5px;
    width: 500px;
    display: inline-block;
}

#logo-title img
{ 
    float:left;
    width:128px;
    height:72px;
    margin-right:20px; 
}
#logo-title h1
{
    width:372px;
    color: #3590e3;
    margin-top: 20px;
}
#search-bar
{
    width: 510px;
    height:35px;
    display: inline-block;
    border:3px solid #3591e3;
    border-radius: 3px;
    background:#3591e3;
}
#search-bar input
{
    height: 33px;
    width: 395px;
    border:none;
    vertical-align: top;
    font-size: 18px;
}
.blue-normal-btn
{
    width:90px;
    height: 35px;
    display:inline-block;
    background:#3591e3;
    margin-left: -4px;
    text-align:center;
    font-size:16px;
}
.icon-search
{
    font-size:20px;
    height:35px;
    float:left;
    display: inline-block;
    background:white;
    color: #c0c0c0;
}

#search-btn
{
    color:White;
    width:90px;
    height: 35px;
    display:inline-block;
    border-radius: 3px; 
    text-align:center;
    font-size:16px;
    letter-spacing:2px;
    padding-top:4px;
}

/*------------------------------blue-div---------------------------*/
.blue-div{
	width: 100%;
	height: 40px;
	background-color:#7FFFD4;
	margin-top:3px;
}

.blue-div-start
{
    color:#000000;
    width:90px;
    height: 35px;
    display:inline-block;
    font-size:14px;
    letter-spacing:2px;
    padding-top:6px;
    padding-left:120px;
}

.blue-div-hosptial,.blue-div-keshi,.blue-div-search
{
    color:#0000FF;
}

/*-----------------------------------µ¼º½À¸-----------------------------------*/
.menu
{
    width: 17%;
	height:1000px;
	background-color: #f5f5f5;
	color: #f5f5f5;
    float:left;
    margin-left:120px;
}

#menuul
{
    margin-left:-40px;
    margin-top:0px;
}
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}

dropdown{
   display: inline-block; 
}
dropdown label{
  display: block;
  width: 225px;
  background: #ECF0F1;
  padding: 37px 20px;
  font-size:20px;
}
dropdown ul li{
  display: block;
  width: 225px;
  background: #ECF0F1;
  padding: 25px 22px;
  float:left;
  font-size:18px;
}
dropdown label:hover, dropdown ul li:hover{
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}
dropdown label{
  color: #1ABC9C;
  border-left: 4px solid #1ABC9C;
  border-radius: 0 5px 0 0; 
  position: relative;
  z-index: 2;
}

dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background: #1ABC9C;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}
$colors: #E74C3C, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white; 
      }
    }
  }
}

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}
/*----------------------------------------------------------------------------*/
.page
{
    width:80%;
    float:right;
    }
p,ul,ol
{
    line-height:140%;
    text-align:inherit;
}
a
{
    color:black;
    text-decoration:none;
}
.nav
{
    margin-bottom:15px;
    float:right;
    display:
    inline;
    height:44px;
    width:500px;
    padding:0;
}
.nav ul{
	list-style: none;
	list-style-position: outside;
	position: absolute;
	left: 678px;
	top: 67px;
}
.nav ul li
{
    float:left;
    font-family:Open sans, sans-serif;
    font-size:20px;
    font-weight:500;
    padding:0 5px;
}
.nav ul li:first-child
{
    padding-left:0;
}
.nav ul li a
{
    color:#4a4a4a;
    display:block;
    height:40px;
    line-height:40px;
    border:2px solid transparent;
    padding:0 7px;
}
.nav ul li.active a,.nav ul li a:hover
{
    border:2px solid #029cdb;
    background:url(../images/nav-btn.png) repeat-x 0 0;
    color:#fff;text-decoration:none;
}
.page
{
    width:75%;
    margin:0 auto;
}
