body
{
    font:1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 13px;
	line-height: 1.7;
	margin: 0;
	text-align: left;
	color: #333;
	background-color: #fff;
}

/*---------------------user-nav-----------------------*/
.user-nav{
	width: 100%;
	height: 30px;
	background-color: #f5f5f5;
	color: #f5f5f5;
}

.nav-right{
    float:right;
    margin-right:30px;
    line-height:5px;
}

.nav-left{
    float:left;
    margin-left:30px;
    line-height:25px;
    color:Black;
}

.nav-right-font{
    color:Black;
}
    
/*-------------------logo div-----------------*/
#logo_div
{
 width: 100%;
 height: 120px;
 display: inline-block;
 margin:10px 0 0 100px;
 }

#logo-title
{
    margin-top:5px;
    width: 500px;
    display: inline-block;
}

#logo-title img
{ 
    float:left;
    width:128px;
    height:72px;
    margin-right:20px; 
}
#logo-title h1
{
    width:372px;
    color: #3590e3;
    margin-top: 20px;
}
#search-bar
{
    width: 510px;
    height:35px;
    display: inline-block;
    border:3px solid #3591e3;
    border-radius: 3px;
    background:#3591e3;
}
#search-bar input
{
    height: 33px;
    width: 395px;
    border:none;
    vertical-align: top;
    font-size: 18px;
}
.blue-normal-btn
{
    width:90px;
    height: 35px;
    display:inline-block;
    background:#3591e3;
    margin-left: -4px;
    text-align:center;
    font-size:16px;
}
.icon-search
{
    font-size:20px;
    height:35px;
    float:left;
    display: inline-block;
    background:white;
    color: #c0c0c0;
}

#search-btn
{
    color:White;
    width:90px;
    height: 35px;
    display:inline-block;
    border-radius: 3px; 
    text-align:center;
    font-size:16px;
    letter-spacing:2px;
    padding-top:4px;
}

/*------------------------------blue-div---------------------------*/
.blue-div{
	width: 100%;
	height: 40px;
	background-color:#7FFFD4;
	margin-top:3px;
}

.blue-div-start
{
    color:#000000;
    width:90px;
    height: 35px;
    display:inline-block;
    font-size:14px;
    letter-spacing:2px;
    padding-top:6px;
    padding-left:120px;
}

.blue-div-hosptial,.blue-div-keshi,.blue-div-search
{
    color:#0000FF;
}

p,ul,ol{line-height:140%;text-align:inherit;}
a{color:black;text-decoration:none;}
header{width:1000px;height:120px;font-size:12px;text-align:left;border-bottom:2px solid gray;}
.headl{float:left;}
.headr{float:right;margin-top:55px;}
.nav{margin-bottom:15px;float:right;display:inline;height:44px;width:500px;padding:0;}
.nav ul{
	list-style: none;
	list-style-position: outside;
	position: absolute;
	left: 678px;
	top: 67px;
}
.nav ul li{float:left;font-family:Open sans, sans-serif;font-size:20px;font-weight:500;padding:0 5px;}
.nav ul li:first-child{padding-left:0;}
.nav ul li a{color:#4a4a4a;display:block;height:40px;line-height:40px;border:2px solid transparent;padding:0 7px;}
.nav ul li.active a,.nav ul li a:hover{border:2px solid #029cdb;background:url(../images/nav-btn.png) repeat-x 0 0;color:#fff;text-decoration:none;}
.page{width:1000px;margin:0 auto;}
.content{float:left;width:970px;margin:0;padding:10px;}
div.one-col,div.two-col,div.three-col{overflow:hidden;}
div.separator{border-bottom:1px solid gray;margin-bottom:18px;}
div.one-col div.col{width:100%;}
div.two-col div.col{width:465px;float:left;margin-right:30px;}
div.three-col div.col{width:300px;float:left;margin-right:30px;}
div.col p{font-size:14px;line-height:1.5em;margin-bottom:1.5em;}
footer{width:1000px;margin:1px auto;padding:10px;}
.footer p{text-align:left;font-size:14px;border:0;margin:10px;padding:0;}
.footerleft{float:left;width:600px;margin-left:2px;display:inline;padding:0 10px 30px 0;}
.footerright{float:right;width:200px;margin-left:2px;display:inline;padding:0 10px 10px 0;}
div.two-col div.last,div.three-col div.last{margin-right:0;}
.inner_copyright{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
