
.passwordfont
{
    font-size:25px;
    font-family:KaiTi_GB2312;
}

.mainpart
{
    margin-left:50px;
    margin-top:30px;
    font-family:KaiTi_GB2312;
    font-size:20px;
}

.message-line
{
    margin-left:50px;
    margin-top:20px;
}
