.start
{
    font-size:10px;
}

.change-div{
	width: 100%;
	height: 10px;
	background-color:#00CCCC;
	margin-top:3px;
}

.set
{
    width:50px;
    height:50px;
    margin-top:10px;
    margin-left:10px;
}

.passwordfont
{
    font-size:25px;
    font-family:KaiTi_GB2312;
}