body
{
}
a
{
	text-decoration:none
}
li
{
	display:inline;
	margin-left:4px;
	margin-right:4px;
	height:24px;
}
h2
{
	color:#9ACD83;
	font-size:20px;
}
#head_div{width: 100%;height: 30px;display: inline-block;background: #f5f5f5;}
#regis_div{float: right;margin-right: 15px;}
#head_div span{margin-left: 40px;}
#regis_div a{ font-size: 15px; color: #333333;}

/*-------------------logo div-----------------*/
#logo_div{width: 100%;height: 120px;display: inline-block;
//background:green;}
#logo_div img{ float:left; }

/*----------------------navigation bar-------------------------*/
.tabnav {margin-top: 0;margin-bottom: 15px;border-bottom: 1px solid #ddd;min-width: 1200px;width: 100%;}
#nav-bar{border-bottom:-1px;margin-left: 60px;}
#nav-bar a{ text-align:center;font-size:20px; margin:0 20px; }
.navb a:hover
 {
    /*color: #333;background-color: #fff;border-color: #ddd;border-radius: 3px 3px 0 0;*/
    color:rgb(10,100,150);
}
.nav
{
	margin-top:50px;
	border:1px solid;
	height:36px;
	font-size:20px;
	background-color: #CAFF70;
}
.nav-l
{
	margin-left:100px;
}
.main-container
{
	margin-left:100px;
	margin-right:280px;
}
.search-wrap
{
	margin-top:10px;
}

.white_content 
{ 
  	display: none; 
	position: absolute; 
	width: 26%; 
	height: 25%; 
	padding: 20px; 
	border: 1px solid gray; 
  	background-color: white; 
  	z-index:1002; 
  	overflow: auto; 
}
.addr-name
{
	margin-left:1px;
} 
.condition-wrap
{
	
}
.condition
{
	border-bottom:1px solid #EEEEE0;
	
}
.condition-title
{
	float:left;
}
.condition-content
{
	display:inline;
}
.hostype
{
	
}
.condition-options
{
	
}
.J_Submit_A
{
	margin-left:41px;
}
.gfm-inline
{
	margin-left:20px;
	margin-top:10px;
	height:30px;
	border-bottom:1px solid #EEEEE0;
}
.hospital-items
{
	width:80%;
	height:auto !important;
	height:200px; 
	height:auto;
	min-height:200px;
	margin-top:1px;
	
}
.pagination
{
	width:80%;
	display:inline;
	text-align:center;	
}

.ks-left
{
	width:300px;
	float:left;
	background-color:#EEEEE0;
}
.ks-type
{
	margin-left:40px;
}
.ks-middle
{
	width:600px;
	height:100%;
	margin-left:340px;
	background-color:#EEEEE0;
}
.g_jb_right_conect
{
	margin-top:20px;
}
.hide_zoom{margin-bottom:20px;}
.jb-font-18
{
	font-size:20px;
}
.content
{
	margin-top:10px;
	margin-left:20px;
	
	border:1px solid #DBDBDB;
}
.contentLeft
{
	
	margin-left:100px;
	width:20%;
	border-right:1px solid #DBDBDB;
}
.contentRight
{
	margin-right:20px;
	width:70%;
	text-align:center;
	border-right:1px solid #DBDBDB;
}
.note
{
	color:greenyellow;
}
.g_jb_right_ul li a
{
	text-align: center;
	margin-left:30px;
	margin-top:20px;
}
.g_jb_right_ul li
{
	margin-bottom:20px;
}

